{% extends 'base.html.twig' %}

{% block title %}{{ title | title  }}{% endblock %}

{% block pageTitle %}
    <h1>{{ title | title }}</h1>
{% endblock pageTitle %}

{% block body %}
<div class="row mb-2">
    <div class="col-8">
        {{ create_link('app_backend_operation_type_index', __('operation.index'), {_locale: locales.locale}, {class: 'btn btn-info'} ) }} 
    </div>
</div>
<hr>
 <div class="row">
    <div class="col-md-8 mx-auto">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-header bg-edit text-center">
                <h2 class="card-title">{{ title | title }}</h2>
                {{ __u('form') }}
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
