<div class="row">
    <div class=" mx-auto">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-header bg-edit text-center">
                <h2 class="card-title">{{ title | title }}</h2>
                {{ __u('form') }}
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ __('save') }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
