{% extends "base.html.twig" %}

{% block title %}
    Echec du {{ cotisationDay.createdAt | in_locale('ll') }}
{% endblock title %}

{% block pageTitle %}
    <h1>Echec du <span class="text-success">{{ cotisationDay.createdAt | in_locale('ll') }}</span></h1>
{% endblock pageTitle %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ create_link('app_backend_tontine_cotisation_index', 'Listing des échec', {}, {class: 'btn btn-edit'}) }}
            {{ create_link('app_backend_tontine_cotisation_index', 'Listing des échec par membre', {type:'tontiner'}, {class: 'btn btn-save'}) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Membre</th>
                    <th>Montant Cotisation</th>
                    <th>Amende</th>
                </tr>
            </thead>
            <tbody>
            {% for failure in failures %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ failure.tontiner }}</td>
                    <td>{{ failure.unity.amount }}</td>
                    <td>
                        {% if failure.unity.isWon %}
                            {% if failure.createdAt < failure.unity.benefitAt %}
                                {{ failure.tontine.type.amend }}
                            {% else %}
                                {{ failure.tontine.type.minAmend }}
                            {% endif %}
                        {% else %}
                        {{ failure.tontine.type.minAmend }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock body %}
