{% extends 'base.html.twig' %}

{% block title %}{{ __t('user.password.edit')}}{% endblock %}

{% block pageTitle %}
    <h1>{{ __t('user.password.edit')}}</h1>
{% endblock pageTitle %}

{% block body %}
<div class="row">
    <div class="col-md-12 text-right">
        {{ create_link('app_backend_user_index', __('user.all.index'), {'id': user.id, _locale: locales.locale}, {class: 'btn btn-info'} ) }}
        {{ create_link('app_backend_user_show', __('profil'), {'id': user.id, _locale: locales.locale}, {class: 'btn btn-show'} ) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 text-center>{{ __U('edition.password')}}</h3>
               
            </div>
            <div class="card-body">
                {{ include(viewPath ~ '/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
        
    </div>
</div>
    


{% endblock %}
