{% extends 'base.html.twig' %}

{% block title %}{{ __t('fund.show') }}{% endblock %}

{% block pageTitle %}
     <h1>
         {{ __t('fund.show') }} - {{ year }} | <span class="text-success">{{ user.name | format_name }}</span>
    </h1>
{% endblock %}

{% block body %}
<div class="row font-size-8">
    <div class="col-md-12 text-right">
        {{ create_link('app_backend_account_index', __('account.index'), { _locale: locales.locale}, {class: 'btn btn-primary'} ) }}
        <span style="min-width:3%;display:inline-block;"></span>
        {{ create_link('app_frontend_user_profil', __('profil'), {'id': user.id, _locale: locales.locale}, {class: 'btn btn-show'} ) }}
        {{ create_link('app_frontend_user_debt_index', __('debt.show'), { _locale: locales.locale, id: user.id}, {class: 'btn btn-show'} ) }}
        <span style="min-width:3%;display:inline-block;"></span>
        {{ create_link('app_backend_fund_cashinflows', __('cash_in_flow'), {'id': account.id, _locale: locales.locale}, {class: 'btn btn-success'} ) }}
        {{ create_link('app_backend_fund_cashoutflows', __('cash_out_flow'), {'id': account.id, _locale: locales.locale}, {class: 'btn btn-warning'} ) }}
        <span style="min-width:3%;display:inline-block;"></span>
        {% if years and years.isEmpty()== false %}
        <div class="my-dropdown" style="display: inline-block;">
            <span class="dropbtn btn btn-primary" style="height: inherit;">{{ __u('old.states') }}</span>
            <div class="dropdown-content">
                {% if called == false %}
                    {% for one_year in years %}
                    {{ create_link('app_backend_fund_show', one_year, {'id': user.account.id, _locale: locales.locale, year: one_year}, {class: 'text-left'} ) }}
                    {% endfor %}
                {% else %}
                    {% for one_year in years %}
                    {{ create_link('app_frontend_user_index', one_year, {id: user.id, _locale: locales.locale, year: one_year}, {class: 'text-left'} ) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 font-size-8">
        <table class="table table-bordered table-striped">
    <thead class="bg-secondary">
        <tr>
            <th>{{ __u('id') }}</th>
            <th>{{ __u('wording') }}</th>
            <th>{{ __u('cash_in_flows') }}</th>
            <th>{{ __u('cash_out_flows') }}</th>
            <th>{{ __u('cash_balances') }}</th>
            <th>{{ __u('created_at') }}</th>
            <th>{{ __u('observations') }}</th>
            {#<th>actions</th>#}
        </tr>
    </thead>
    <tbody>
        
    {% for fund in funds %}
        {% if oldBalance and loop.index == 1 %}
            <tr class="">
                <td class="bg-show">0</td>
                <td class="bg-save">{{ __('old.balance') }}</td>
                <td class="bg-save text-right"></td>
                <td class="bg-save text-right"></td>
                <td class="bg-save text-right {{ oldBalance.cashBalances <= 0 ? "text-warning" : ""   }}">{{ oldBalance.cashBalances | money_format }}</td>
                <td class="bg-save">{{ oldBalance.createdAt | in_locale("ll") }}</td>
                <td class="bg-save">{{ __('balance at') }} {{ oldBalance.createdAt | in_locale("ll") }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="bg-show">{{ loop.index }}</td> 
            <td class="bg-save my-flex-between">
            {% set canUpdate = create_link("app_backend_fund_update_data", fund.wording, {id: fund.id}, {boolean:true})  %}
            {% set canDelete = create_link("app_backend_fund_delete", fund.wording, {id: fund.id}, {boolean:true})  %}
            {% if canUpdate == true or canDelete == true  %}
                {% if canUpdate == true %}
                    {{ create_link("app_backend_fund_update_data", fund.wording ~ '  <i class="fa fa-edit text-edit"></i>', {id: fund.id}, {class: "text-white", title: 'Editer les données'}) }}
                {% endif %}

                {% if canDelete == true %}
                    {{ create_link("app_backend_fund_delete", '<i class="fa fa-trash text-danger"></i>', {id: fund.id}, {class: "text-white", title: 'Supprimer cette ligne'}) }}
                {% endif %}       
            {% else %}
                {{ fund.wording }}
            {% endif %}
            </td>
            <td class="bg-success text-right">{{ fund.cashInFlows == 0 ? '' : fund.cashInFlows | money_format }}</td>
            <td class="bg-success text-right">{{ fund.cashOutFlows == 0 ? '' : fund.cashOutFlows | money_format }}</td>
            <td class="bg-edit text-right {{ fund.cashBalances <= 0 ? "text-danger" : ""   }}">{{ fund.cashBalances | money_format }}</td>
            <td class="bg-update">{{ fund.createdAt | in_locale("ll") }}</td>
            <td class="bg-edit">
            {% if fund.isLinked %}
                {% if fund.isAssistanceLinked %}
                    {{ create_link('app_backend_assistance_show', fund.observations ?? fund.assistance.assistance.wording, {id: fund.assistance.assistance.id}, {class: "text-primary", style:"opacity:0.9;"}) }}
                {% endif %}
                {% if fund.isOperationLinked %}
                    {{ create_link('app_backend_operation_type_show', fund.observations ?? fund.operation.wording, {_locale: locales.locale, id:fund.operation.type.id}, {class: "text-primary", style:"opacity:0.9;"} ) }}
                {% endif %}
            {% else %}
                {{ fund.observations ?? '' }}
            {% endif %}
            
            </td>
        </tr>
    {% else %}
        {% if oldBalance and loop.index == 1 %}
        <tr class="">
            <td class="bg-show">0</td>
            <td class="bg-save">{{ __('old.balance') }}</td>
            <td class="bg-save text-right"></td>
            <td class="bg-save text-right"></td>
            <td class="bg-save text-right {{ oldBalance.cashBalances <= 0 ? "text-warning" : ""   }}">{{ oldBalance.cashBalances | money_format }}</td>
            <td class="bg-save">{{ oldBalance.createdAt | in_locale("ll") }}</td>
            <td class="bg-save">{{ __('balance at') }} {{ oldBalance.createdAt | in_locale("ll") }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    <tfoot class="bg-secondary">
        {% if count != 0 %}
            <tr class="">
                <th colspan="2">Totals</th>
                <th class="text-right">{{ totals.cashInFlows | money_format }}</th>
                <th class="text-right">{{ totals.cashOutFlows | money_format }}</th>
                <th class="text-right {{ totals.cashBalances <= 0 ? "bg-danger" : ""   }}">{{ totals.cashBalances | money_format }}</th>
                <th></th>
                <th></th>
            </tr>
        {% endif %}
        
    </tfoot>
</table>
    </div>
</div>

{% endblock %}